@import '../../_css/common';

.card {
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 15px;

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px; /* Adjust based on your design */
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  height: calc(100% - 25px);

  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}



.card:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  min-height: 200px;
  background-color: white;
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
  transition: 0.3s ease;
}

.card:hover .image{
  transform: scale(1.2);
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}