@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.image{
  height: 200px;
  width: auto;
  padding: 20px;
  transition: 0.2s;
}


.title {
  border-radius: 2px;
  padding: 16px;
  width: 100%;
  text-align: start;
  padding-left: 30px;
  // border: 1px solid #ccc;
  transition: 0.2s;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}


.card:hover{
  box-shadow: 0 0 20px rgba(33,33,33,.2); 
}


.card:hover .title{
  font-size: 25px;
}


.card:hover .image{
  padding: 5px;
}
