.header {
    padding: 36px 0;
    background-color: rgb(255, 213, 31);
    box-shadow: 0 5px 5px #00000033;
    z-index: 20;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base);

}

.logo {
    width: 170px;
}

.hide {
    display: none;
}