@import '../../../_css/common';

.header {
    width: 100%;
    padding: 36px 0;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 999;
    background: white;
    transition: all 0.3s ease-in-out;


    @include mid-break {
      padding: 12px 0;
    }

  }

  .small{
    padding: 5px 0;
  }


  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--base) / 2) var(--base);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter-h);
    padding-right: var(--gutter-h);

    @include mid-break {
      flex-direction: column;
      gap: 0;
    }

    @include small-break {
      padding-left: 0;
      padding-right: 0;
    }
  }

  
  .logo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;

    @include small-break {
      width: 40px;
      height: 40px;
    }
  }

  .name{
    display: flex;
    transition: all 0.1s ease-in-out;
    // transition-delay: 0.3s;
      font-size: 1.5rem;

    @include x-mid-break {
      // display: none;
      font-size: 1.2rem;
    }
  }

  .small .logo {
    width: 25px;
    height: 25px;

  }

  .small .name {
    font-size: 1.2rem;
    // display: none;
  }
  
  .hide { 
    display: none;
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    align-items: center;
  }

