
@use '../../../_css/queries.scss' as *;
@import '../../../_css/common';

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  margin-top: 5px;

  > * {
    text-decoration: none;
  }


  @include small-break {
  }

  
}

.hide {
  opacity: 0;
  visibility: hidden;
}
